<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/410f94a1ed.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="assets/map-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Classyfi | StudyGroups</title>
</head>
<script>
    var map = null;
    var markers = [];
    let groups = [];

    function getGroups() {
        fetch('/groups/all', {
            method: 'GET',
            headers: {
                Accept: 'application/json',
                'Content-Type': 'application/json',
            },
        })
        .then(async (res) => {
            const resp = await res.json()
            groups = resp.groups;
            navigator.geolocation.getCurrentPosition(initMap);
        })
    }
    
    function initMap(position) {
        const currentPosition = {lat: 49.262352, lng: -123.2467381};
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: currentPosition,
        });

        map.addListener('click', (e) => {
            let groups = document.querySelectorAll('.group');
            groups.forEach((group) => {
                group.style.display = 'block';
            })
        });

        drop();

        function drop() {
            clearMarkers();

            for (let i = 0; i < groups.length; i++) {
                addMarkerWithTimeout(groups[i], i * 200);
            }

            function addMarkerWithTimeout(group, timeout) {
                window.setTimeout(() => {
                    markers.push(
                        new google.maps.Marker({
                            position: {lat: group.latLong[0], lng: group.latLong[1]},
                            map: map,
                            icon: {
                                url: '/assets/map-icon.png',
                                scaledSize: new google.maps.Size(50, 50),              
                            },
                            animation: google.maps.Animation.DROP,
                            zIndex: 2,
                        }).addListener("click", () => {
                            let input = group._id
                            let groups = document.querySelectorAll('.group');
                                
                            groups.forEach((group) => {
                                if (group.children[4].innerText.includes(input)) {
                                    group.style.display="block";
                                }
                                else {
                                    group.style.display="none";                 
                                }
                            });
                        })
                )}, timeout);
            }

            function clearMarkers() {
                for (let i = 0; i < markers.length; i++) {
                    markers[i].setMap(null);
                }
                markers = [];
            }
        }
    }
    getGroups();
</script>
<body>

    <div id="backdrop"></div>
    <div id="info-modal"></div>

    
    <div class="map-container">
        <div class="left">
            <div class="small-nav">
                <div class="buttons2">
                    <a href="/profile">
                        <button class="btn-design" style="margin-right: 1vw;">
                            Profile
                        </button>
                    </a>

                    <a href="/auth/logout">
                        <button class="btn-design">
                            Logout
                        </button>
                    </a>
                </div>
            </div>
            <div class="search">
                <input type="text" id="searchbar" onkeyup="search_groups()" placeholder="Search Groups" >
            </div>
            <div class="groups">
                <% groups.forEach(group => { %>
                    <div class="group">
                        <div class="info">
                            <div class="name">
                                <%= group.groupName %>
                            </div>

                            <div class="members">
                                <i class="fa-solid fa-users"></i>
                                <%= group.members.length %>
                            </div>
                        </div>
                        <div class="description">
                            <%= group.groupDescription %>
                        </div>
                        <div class="exactLocation" style="display: none;">
                            <%= group.exactLocation %>
                        </div>
                        <div class="latLong" style="display: none;">
                            <div class="lat">
                                <%= group.latLong[0] %>
                            </div>
                            <div class="long">
                                <%= group.latLong[1] %>
                            </div>
                        </div>
                        <div class="group-id" style="display: none;">
                            <%= group._id %>
                        </div>
                        <div class="social" style="display: none;">
                            <%= group.social %>
                        </div>
                    </div>
                <% }) %>
            </div>           
        </div>
        <div id="map">

        </div>
    </div>
    <script>
        function search_groups() {
            let input = document.getElementById('searchbar').value
            input = input.toLowerCase();
            let groups = document.getElementsByClassName('group');
                
            for (group of groups) { 
                if (group.children[0].innerText.toLowerCase().includes(input)) {
                    group.style.display="block";
                }
                else {
                    group.style.display="none";                 
                }
            }
        }

        function startListening(){
            let groups = document.querySelectorAll('.group');
            const infoModal = document.getElementById('info-modal');
            const backdrop = document.getElementById('backdrop');
            groups.forEach(group => {
                group.addEventListener('click', () => {
                    backdrop.style.display = "block";
                    backdrop.style.opacity = "0.5";
                    infoModal.style.display = "block";
                    infoModal.style.opacity = "1";
                    
                    console.log(group)
                    infoModal.innerHTML = 
                    `<div class="headers">
                        <h3>${group.children[0].children[0].innerText}</h3>
                        <i class="fa-solid fa-xmark close" onclick="close_info_modal()"></i>
                    </div>
                    <p><strong>Description:</strong> ${group.children[1].innerText}</p>
                    <p><strong>Exact Location:</strong> ${group.children[2].innerText}</p>
                    <p><strong>Contact:</strong> ${group.children[5].innerText}</p>
                    <p><strong>Members:</strong> ${group.children[0].children[1].innerText}</p>
                    <button class="btn-design" onClick="getDirections(${group.children[3].children[0].innerHTML},${group.children[3].children[1].innerHTML})">Get Directions</button>`
                })
            });
        }

        startListening();

        function close_info_modal() {
            const infoModal = document.getElementById('info-modal');
            const backdrop = document.getElementById('backdrop');
            backdrop.style.display = "none";
            backdrop.style.opacity = "0";
            infoModal.style.display = "none";
            infoModal.style.opacity = "0";
        }

        function getDirections(lat, long) {
            window.location.href = `https://www.google.com/maps?q=${lat},${long}`
        }
    </script>
    <!-- Google Maps  -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBZQkUZ-cMj2cBEEylh3FeC_crWH_vrt8&callback=initMap&v=weekly"
      defer
    ></script>
    <!-- Bootstrap  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>